<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width: 40rem; border: #949494 1px solid; padding: 1rem;">
        <img src="https://www.ibric.org/upload/member/comp_0685990.png?1548901802" width="100rem" />
        <hr/>
        <p style="margin-top: 1rem; text-align: center; font-size: large">
            귀사에 무궁한 발전을 기원 합니다.
        </p>
        <p style="margin-top: 1rem; text-align: center; font-size: large">
            금일 쇼핑몰로 주문 들어온 주문건들을 보내드립니다.
        </p>
        <p style="margin-top: 1rem; text-align: center; font-size: large">
            확인 해보시고 발주 부탁드립니다.
        </p>
        <p style="margin-top: 1rem; text-align: center; font-size: large">
            패스트몰 %매니저_이름% 드림
        </p>
    </div>
</body>
</html>